body {
    background: #f0ffff ;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
}

.encabezado{
    text-align: left;
    margin: 20px;
    padding: 10px;
}
#logo {
    width: 5%;
}
input{
    border: none;
    margin: 200px;
    padding: 10px;
    width: 200px;
}
#form{
    background-color: #f0ffff;
    width: 577px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 170px;
    top: 800px;


}
button {
    align-items: flex-start;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #f0ffff;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 24px;
    width: 328px;
    height: 67px;
}
.box{
    position: absolute;
    width: 400px;
    height: 900px;
    left: 1000px;
    top: 20px;
    background: #ebefef;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
}
#foto{
    position: relative;
    padding: 50px;
    margin: 10px;
    margin-top: 50%;
    margin-bottom: 5px;
    width: 70%;
}
.mensaje{
    align-items:center;
    padding: 0px;
    margin: 10px;

}
