body {
    background: #f0ffff ;
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
}
header {
    padding: 0 0 0 0;
    padding-top: 1% ;
    width: 100%;
    height: 90px;
    display: inline-flex;
    align-items: center;
}
header img {
    width: 6%;
    padding-left: 3%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.primer-cuadrante{
    margin: 0;
    width: 60%;
    height: auto;
}

.myForm{
    margin:  10px;
    padding: 20% 0 10% 10%;
    width: 80%;

}
#form{
    background-color: #f0ffff;
    border: none;
    width: 100%;
    font-size: 32px;
    line-height: 150%;
}
.botones{
    display: grid;
    grid-template-areas:'header header header header header header'
    'bt1 bt1 bt1 bt2 bt2 bt2';
    gap: 5%;
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-top:12%;
}
.header {
    grid-area: header;
    display: flex;
    width: 55%;
    gap: 10px;
    font-size: 12px;
    line-height: 0%;
    color: #495057;
    opacity: .8;
}
.header img{
    width: 3%;
}
#encode{
    grid-area: bt1;
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #f0ffff;
}
#decode{
    grid-area: bt2;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.botones button {
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: 67px;
}
#encode:hover{
    background: #0A3871D4;
}
#decode:hover{
    background: #E1ECFF;
}

.box{
    width: 36%;
    height: auto;
    margin: 0 2% 0 0;
    background: #ebefef;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#foto{
    position: relative;
    padding: 10% 20% 2% 20%;
    margin: 5%;
    margin-top: 8%;
    margin-bottom: 2px;
    width: 50%;
}
.mensaje{
    padding: 2%;
    margin: 3%;

}
#resultadodiv{
    position: relative;
    padding: 15%;
    margin-top: 15%;
    text-align: inherit;
}
#resultadodiv button{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 67px;
    margin-top:90%;
}
.alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  margin-top: 15px;

}
